* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(29, 28, 28);
}

.cabeça {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
.cabeça_menu {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  gap: 1rem;
  font-size: 16px;
}

.cabeça_item {
  color: rgb(255, 255, 255);
}

.sobre_mim {
  font-family: "Source Sans Pro", sans-serif;
  color: antiquewhite;
}

.conteudo {
  border-top: 0.4px solid black;
}

.sobre_mim {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 60px;
}

.sobre_mim_text {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 255, 255);
  width: 500px;
}

.sobre_mim_foto {
  align-items: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 5%;
}

.contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.contatos_titulo {
  font-family: "Source Sans Pro", sans-serif;
  color: antiquewhite;
}

.skills {
  color: aliceblue;
  margin-top: 100px;
  font-size: 25px;
  align-items: center;
}

.sinbolos_conteiner {
  display: flex;
  gap: 100px;
  display: flex;
  padding-left: 32%;
}
.sinbolos_skills {
  height: 100px;
}

.skills_titulo {
  font-family: "Source Sans Pro", sans-serif;
  color: antiquewhite;
  text-align: center;
}

.rodape {
  color: aliceblue;
  font-family: "Source Sans Pro", sans-serif;
}

.icon_imagens {
  display: flex;
  gap: 100px;
}

.contatos_img {
  height: 100px;
}
